@model IEnumerable<Todo>

@{
    ViewData["Title"] = "Todo";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-sm-6">
            <h2 class="text-dark" style="font-weight: bold;">Todo List</h2>
        </div>
        <div class="col-sm-6 text-end">
            <a asp-controller="Todo" asp-action="CreateTask" class="btn btn-primary">
                Create New Task
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Task Data
            </th>
            <th>
                Task Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.TaskName
                </td>
                <td width="40%">
                    @obj.TaskData
                </td>
                <td width="10%">
                    @obj.TaskStatus
                </td>
                <td width="20%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Todo" asp-action="EditTask" asp-route-id="@obj.Id" style="margin-right: 20px"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Todo" asp-action="DeleteTask" asp-route-id="@obj.Id" style="color: red;"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>